<div class="main">
  <div class="two">
    <div class="frame">
      <img src="../../assets/super-1.png">
      <p>Spiderman</p>
      <p class="num">12</p>
    </div>
    <div class="frame">
      <img src="../../assets/super-2.png">
      <p>Wonder<br>Woman</p>
      <p class="num">30</p>
    </div>
  </div>
  <div class="num">5 - 0</div>
  <div class="two">
    <div class="frame">
      <img src="../../assets/super-3.png">
      <p>Captain<br>America</p>
      <p class="num">50</p>
    </div>
    <div class="frame">
      <img src="../../assets/super-4.png">
      <p>Gem Woman</p>
      <p class="num">12</p>
    </div>
  </div>
</div>
<footer class="footer">Made with <img src="../../assets/Vector.svg"> by ProGrad</footer>
